{% extends 'basetemplate.html' %}
{% load fromunix %}

{% block content %}
    <script src="/static/js/vue.js" type="text/javascript" charset="utf-8" xmlns:v-on="http://www.w3.org/1999/xhtml"></script>
    <script src="/static/js/JuHPLC/JuHPLC-Helpers.js" type="text/javascript" charset="utf-8"></script>

    <div class="container-fluid" id="app">

        <div class="starter-template">
            <h1>All Calibrations</h1>


        </div>
        <div class="col-md-12 col-lg-12 col-sm-12">

            <div style="float:right">
                <a class="nav-link" href="{% url 'NewCalibration' %}">
                    <button type="button" class="btn btn-success">+ New</button>
                </a>
            </div>
            <table class="table table-striped table-hover table-sm">
                <thead class="thead-dark table-bordered">
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>Sample Name</th>
                    <th>k' (+/-)</th>
                    <th>UV Wavelength</th>
                    <th>Flow</th>
                    <th>Unit</th>
                    <th>Eluent</th>
                    <th>Slope</th>
                    <th>Y-Intercept</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(data,key) in calibrations">
                    <td><input type="checkbox" :value="data.pk" v-model="selectedChromatograms"/></td>
                    <td>[[data.pk]]</td>
                    <td>[[data.fields.Name]]</td>
                    <td>[[data.fields.RetentionFactor]] ([[data.fields.RetentionFactorError]])</td>
                    <td>[[data.fields.UVWaveLength]]</td>
                    <td>[[data.fields.Flow]]</td>
                    <td>[[data.fields.Unit]]</td>
                    <td>[[data.fields.Eluent]]</td>
                    <td>[[data.fields.Slope]]</td>
                    <td>[[data.fields.YAxisIntercept]]</td>
                    <td>
                        <button
                                type="button"
                                class="btn btn-info"
                                v-on:click="editCalibration(data.pk)">Edit
                        </button>
                    </td>
                    <td>
                        <button
                                type="button"
                                class="btn btn-danger"
                                v-on:click="deleteCalibration(data.pk)">Delete
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>
            <div style="float:right">
                <button type="button" class="btn btn-success" v-on:click="downloadSelected">Export Selected</button>
            </div>
        </div>


    </div><!-- /.container -->
    <script>
        window.data = {{ calibrations|safe }};
    </script>
    <script>
        document.onreadystatechange = function () {
            var state = document.readyState;
            if (state == 'interactive') {
                init();
            } else if (state == 'complete') {
                initOnCompleteLoad();
            }
        };

        function initOnCompleteLoad() {
            initVue();
        }

        function init() {
        }

        function initVue() {

            Vue.prototype.$eventHub = new Vue(); // Global event bus

            window.app = new Vue({
                delimiters: ['[[', ']]'],
                el: '#app',
                data: {
                    calibrations: window.data,
                    selectedChromatograms:[]
                },
                methods: {
                    deleteCalibration: function (id) {
                        var foo = $.ajax({
                            url: "/api/Calibration/Delete/"+id,
                            success: function (data) {
                                var d = window.data;
                                d.splice(d.map(item => item.pk).indexOf(id),1);
                            }
                        });
                    },
                    editCalibration: function(id){
                        window.location.href = "/Calibration/Edit/"+id;
                    },
                    downloadSelected:function(){

                        var selected = this.$data.calibrations
                            .filter((x)=>{
                                return this.$data.selectedChromatograms.indexOf(x.pk) != -1;
                            });
                        download("Calibration-Export.json",JSON.stringify(selected));

                    }
                }

            });
        }
    </script>
    <script>

    </script>
{% endblock %}
