{% extends 'basetemplate.html' %}

{% block content %}
    <div class="container">
        <h1>Please select the Serial-Ports you wish to use for Data-Aquisition</h1>
        <form action="/HPLC/Settings/save" method="POST">
            {% csrf_token %}
            {% for serial in serialports %}
                <div class="form-group">
                    <label for="Port{{ i }}">Use serial port "{{ serial }}" ?:</label>
                    <input type="checkbox" class="checkbox" name="Port{{ forloop.counter }}" value="{{ serial }}">
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Speichern</button>
        </form>
        <script>

            function defer(method) {
                if (window.jQuery)
                    method();
                else
                    setTimeout(function () {
                        defer(method)
                    }, 50);
            }

            function setupNewChromatogramPage() {
                $(document).ready(function () {

                });
            }

            defer(setupNewChromatogramPage);
        </script>

    </div><!-- /.container -->
{% endblock %}
